@font-face {
  font-family: 'gerstner';
  src: url('Gerstner-ProgrammRegular.otf') format('opentype');
}

:root {
  --light-gray: rgba(0, 0, 0, 0.25);
}

/* =========================
   Base Styles
   ==================== ===== */

body {
  margin: 0;
  font-family: 'Gerstner';
  display: flex;
  height: 100vh;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

#link:hover {
  opacity: 0.5;
  cursor: pointer
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* =========================
   Lines
   ========================= */

.lines {
  opacity: 0;
  z-index: 99999;
}

.y, .x, .z {
  position: fixed;
  background-color: var(--light-gray);
  z-index: 9999;
}

.y {
  width: 1px;
  transform-origin: top left;
}

.x {
  height: 1px;
  transform-origin: top left;
}

.z {
  height: 1px;
  transform-origin: top left;
  transform: rotate(-45deg);
}

/* =========================
   Sidebar
   ========================= */

.sidebar {
  display: flex;
  width: calc(100% / 3);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-right: 1px dotted var(--light-gray);
  padding: 48px;
  padding-right: 24px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0;
  gap: 9px;
  font-variant-numeric: tabular-nums;
}

.sidebar .project-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  height: 24px;
  /* padding: 3px 0; */
  cursor: pointer;
  transition: opacity 0.2s;
}

.sidebar li #name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar a:hover {
  opacity: 0.5;
}

.number {
  width: 30px;
  letter-spacing: 1.5px;
}

.sidebar h1 {
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  gap: 6px;
}

.sidebar .contact-address {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.zeroes {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 1.5px;
}


.zeroes-top {
  display: flex;
  flex-direction: row;
  gap: 1.5px;
}

/* =========================
   Content Grid
   ========================= */

.content {
  flex: 1 1 auto;
  height: 100vh;
  min-height: 0;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
}

.cell img,
.cell video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: opacity ease 0.3s;
  cursor: pointer;
}

.cell video::-webkit-media-controls,
.cell video::-webkit-media-controls-enclosure {
  display: none !important;
}

.cell:has(img:hover) ~ .cell img,
.cell:has(img:hover) ~ .cell video,
.cell:has(video:hover) ~ .cell img,
.cell:has(video:hover) ~ .cell video {
  opacity: 0.25;
}

.cell img:hover ~ img,
.cell img:hover ~ video,
.cell video:hover ~ img,
.cell video:hover ~ video {
  opacity: 0.25;
}

.content:has(.cell img:hover) .cell img:not(:hover),
.content:has(.cell img:hover) .cell video:not(:hover),
.content:has(.cell video:hover) .cell img:not(:hover),
.content:has(.cell video:hover) .cell video:not(:hover) {
  opacity: 0.25;
}

/* =========================
   Tooltip
   ========================= */

.tooltip {
  position: fixed;
  pointer-events: none;
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 1px;
  color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 100001;
}

/* =========================
   Overlay
   ========================= */

.project-overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100000;
  color: black;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3 ease, visibility 0.3s ease;
}

.project-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project-content {
  position: relative;
  z-index: 10001;
  pointer-events: auto;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
}

.project-content h1 {
  font-weight: normal;
  margin: 0 0 24px 0;
}

.project-content p {
  margin: 0;
  max-width: 600px;
}

.close-overlay {
  font-family: inherit;
  position: absolute;
  top: 48px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  z-index: 99999;
}

.close-overlay:hover {
  opacity: 0.5;
}

.project-link {
  cursor: pointer;
}

.project-content-left ul {
  list-style: none;
  padding: 0;
}

.project-content-left .project-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.section-link {
  cursor: pointer;
  transition: opacity 0.2s;
}

.section-link:hover {
  opacity: 0.5;
}

.project-content-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
  width: calc(100% / 3);
  padding: 28px 48px;
  height: 100vh;
  border-right: 1px dotted var(--light-gray);
  box-sizing: border-box;
  line-height: 24px;
}

.project-content-right {
  overflow-y: scroll;
  flex: 1;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
}

.project-content-right .content {
  gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  padding-top: 51px;
  padding-bottom: 30px;
}

.prohect-content-right .content .cell {
  padding: 12px;
}

.overlay-cell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  box-sizing: border-box;
}

.overlay-cell img,
.overlay-cell video {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity ease 0.3s;
}

.overlay-cell video::-webkit-media-controls,
.overlay-cell video::-webkit-media-controls-enclosure {
  display: none !important;
}

/* =========================
   Timeline & Schedule
   ========================= */

.overview {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 30px;
}

.overview-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.overview-left {
  display: flex;
  width: 72px;
  align-items: left;
  justify-self: left;
}

.schedule {
  position: relative;
  padding: 0 30px;
}

.timeline {
  display: flex;
  position: relative;
}

.timeline > div {
  position: relative;
}

#legend {
  position: relative;
  display: flex;
  justify-content: center;
}

.legend-item {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  white-space: nowrap;
  pointer-events: none;
  transform: translateX(-50%);
}

.legend-item.show {
  opacity: 1;
  visibility: visible;
}

/* =========================
   Media Queries
   ========================= */

@media screen and (max-width:800px) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .contact li {
    font-size: 0;
  }

  .contact li a {
    font-size: 15px;
  }

  /* Phone icon */
  .contact-phone::before {
    content: 'T';
    font-size: 15px;
    font-family: 'Gerstner';
  }

  .contact-phone a {
    display: none;
  }

  /* Address icon */
  .sidebar .contact-address {
    display: block;
    flex-direction: column;
    align-items: center;
  }

  .sidebar .contact-address::before {
    content: 'A';
    font-size: 15px;
    font-family: 'Gerstner';
  }

  .sidebar .contact-address div {
    display: none;
  }

  /* Email icon */
  .contact-email::before {
    content: '@';
    font-size: 15px;
    font-family: 'Gerstner';
  }

  .contact-email a {
    display: none;
  }

  .sidebar {
    width: max-content;
    padding: 48 24px;
  }

  /* .project-overlay-left {
     padding: 48 24px;
    padding-top: 66px;
  } */

  .sidebar .project-item #name {
    display: none;
  }

  .sidebar .project-item {
    row-gap: 0;
    column-gap: 0;
  }

  /* fix this annoyingness*/

}

@media screen and (max-width:1200px) {
  .sidebar {
    width: 25%;
    min-width: 25%;
  }

  .sidebar li #name {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .project-overlay {
    left: 0;
  }

  .project-content-left {
    width: calc(100% / 3);
  }
}

@media screen and (max-width:600px) {
  .content {
  flex: 1 1 auto;
  height: 100vh;
  min-height: 0;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
}