@import url('https://fonts.googleapis.com/css2?family=DM+Sans');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@media screen and (max-width: 800px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #F7F7F7;
        font-family: 'DM Sans';
        flex-shrink: 1;
    }

    .opaque {
        opacity: 75%;
    }

    .designs-header {
        font-size: 24px;
        font-style: normal;
        text-align: left;
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
        line-height: normal;
    }

    .footing {
        display: none;
    }

    .number {
        font-family: "League Spartan", sans-serif;
        font-weight: 700;
        font-size: 60px;
        color: rgba(255,0,0,0.1);
        min-width: 60px;
    }

    .opaque {
        opacity: 75%;
    }

    .box2 {
        display: none;
    }

    #normal {
        display: flex;
    }

    .design-explanation {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .photo-with-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        align-items: center;
        text-align: center;
    }
    
    .wrapper {
        display: flex;
        padding: 60px 60px;
        padding-bottom: 120px;
        flex-direction: column;
        align-items: center;
        color: black;
    }

    .space {
        padding: 60px 0;
    }
    
    .button {
        display: flex;
        padding: 16px 18px;
        align-items: flex-start;
        gap: 12px;
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.9);
        width: min-content;
        position: fixed;
        bottom: 30px; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        border: solid 1px black;
    }

    .option {
        color: black;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        width: max-content;
    }
    
    .splash {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-bottom: 30px;
        gap: 12px;
        align-self: stretch;
    }
    
    .title {
        text-align: left;
        font-size: 42px;
        font-weight: 400;
        font-family: "League Spartan", sans-serif;
    }
    
    .subtitle {
        text-align: left;
        font-size: 18px;
        font-weight: 100;
    }
    
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        align-self: stretch;
        padding: 0 60px;
    }
    
    .line {
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.5);
        margin: 120px;
    }
    
    .project-overview {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        gap: 180px;
        opacity: 75%;
    }

    .overview-column {
        display: flex;
        flex-direction: row;
        gap: 30px;
        max-width: 420px;
    }

    .description-block {
        display: flex;
        max-width: 420px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    
    .description-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
    }
    
    .description-subtitle {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        display: flex;
    }
    
    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
    }
    
    .block-title {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: "League Spartan", sans-serif;
    }
    
    .block-subtitle {
        align-self: stretch;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .photo-row {
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        align-items: center;
        flex-direction: column;
    }
    
    .box {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: 100%;
        position: relative;
        gap: 12px;
    }
    
    .photo-row img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
    
    .photo-description {
        color: rgba(0, 0, 0, 0.50);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .photo-caption {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
}

@media screen and (min-width: 801px) {
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F7F7F7;
    font-family: 'DM Sans';
}

.box2 {
    display: flex;
}

#normal {
    display: none;
}

.wrapper {
    display: flex;
    padding: 60px 0px;
    flex-direction: column;
    align-items: center;
    color: black;
}

.design-explanation {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.designs-header {
    font-size: 24px;
    font-style: normal;
    text-align: left;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    line-height: normal;
}

.button {
    display: flex;
    gap: 12px;
    padding: 24px 24px;
}

.option {
    color: black;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    width: max-content;
}

.splash {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 180px;
    padding-bottom: 30px;
    gap: 12px;
    align-self: stretch;
}

.title {
    text-align: left;
    font-size: 42px;
    font-weight: 400;
    font-family: "League Spartan", sans-serif;
}

.subtitle {
    text-align: left;
    font-size: 18px;
    font-weight: 100;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    padding: 0 120px;
}

.line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    margin: 120px;
}


.project-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 180px;
    opacity: 75%;
}

.number {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 120px;
    color: rgba(255,0,0,0.1);
    min-width: 200px;
}

.space {
    padding: 60px 0;
}

.overview-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 420px;
}

.description-block {
    display: flex;
    max-width: 420px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.description-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.description-subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    display: flex;
}

.block {
    display: flex;
    padding: 0 240px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.block-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "League Spartan", sans-serif;
}

.block-subtitle {
    align-self: stretch;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photo-row {
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.box {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    position: relative;
    gap: 12px;
    transition: transform 0.3s ease;
}

.box2 {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    position: relative;
    gap: 12px;
}

.box:hover img {
    transform: scale(1.1);
    z-index: 2;
}

.photo-row img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 6px;
    transition: transform 0.3s ease;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 6px;
}

.photo-description {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.opaque {
    opacity: 75%;
}

.photo-caption {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.final-title {
    font-size: 24px;
    font-weight: 700;
}

.opaque {
    opacity: 75%;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    flex-shrink: 1;
    display: flex;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
  }
  
  #before-after-slider {
    width:100%;
    position:relative;
    overflow:hidden;
  }
  
  #after-image {
    display:flex;
  }
  
  #before-image {
    position:absolute;
    height:100%;
    width:50%;
    overflow:hidden;
    z-index:2;
  }
  
  #resizer {
    position:absolute;
    display:flex;
    align-items:center;
    z-index:5;
    top:0;
    left:50%;
    height:100%;
    width:6px;
    background:rgba(0,0,0,0.5);
    -ms-touch-action: pan-y;
      touch-action: pan-y;
    cursor: pointer;
  }
  
  #resizer:after {
    font-weight:900;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    width:10px;
    height:10px;
    font-size: 8px;
    color: black;
    cursor: pointer;
  }

  .footing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 120px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    background-color: white;
}

.footing-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.footing-left-text {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 30px;
}


.footing-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 10vw;
}

.footing-right-object {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

}

.photo-with-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
    text-align: center;
}

.fancy {
    font-family: "League Spartan", sans-serif;
    font-size: 42px;
    color: rgba(255,0,0,0.5);
    text-align: center;
}