@import url('https://fonts.googleapis.com/css2?family=DM+Sans');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@media screen and (max-width: 800px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #000;
        font-family: 'DM Sans';
        flex-shrink: 1;
    }

    .opaque {
        color: rgba(255,255,255,0.75);
    }

    .photo-with-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        align-items: center;
        text-align: center;
    }
    
    .wrapper {
        display: flex;
        padding: 60px 60px;
        padding-bottom: 120px;
        flex-direction: column;
        align-items: center;
        color: white;
        background: radial-gradient(ellipse at bottom, rgba(65, 23, 23, 0.1), transparent), radial-gradient(ellipse at top, rgba(141, 49, 49, 0.3), transparent);
    }
    
    .button {
        display: flex;
        padding: 16px 18px;
        align-items: flex-start;
        gap: 12px;
        border-radius: 100px;
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.05);
        width: min-content;
        position: fixed;
        bottom: 30px; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
    
    .option {
        color: white;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        width: max-content;
    }
    
    .splash {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-bottom: 30px;
        gap: 12px;
        align-self: stretch;
    }
    
    .title {
        text-align: left;
        font-size: 42px;
        font-weight: 400;
        font-family: "EB Garamond", serif;
    }
    
    .subtitle {
        text-align: left;
        font-size: 18px;
        font-weight: 100;
    }
    
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        align-self: stretch;
    }
    
    .line {
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.5);
        margin: 120px;
    }
    
    .project-overview {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        gap: 180px;
        opacity: 75%;
    }

    .overview-column {
        display: flex;
        flex-direction: row;
        gap: 30px;
        max-width: 420px;
    }

    .description-block {
        display: flex;
        max-width: 420px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    
    .description-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
    }
    
    .description-subtitle {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        display: flex;
    }
    
    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
    }
    
    .block-title {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: "EB Garamond", serif;
    }
    
    .block-subtitle {
        align-self: stretch;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .photo-row {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        justify-content: space-between;
        gap: 120px;
        overflow: wrap;
    }
    
    .box {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: 100%;
        position: relative;
        gap: 12px;
    }
    
    .photo-row img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio and cover container */
        border-radius: 6px;
    }
    
    .photo-description {
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .photo-caption {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
    
    a {
        text-decoration: none;
    }
}

@media screen and (min-width: 801px) {
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    font-family: 'DM Sans';
}

.wrapper {
    display: flex;
    padding: 60px 0px;
    flex-direction: column;
    align-items: center;
    color: white;
    background: radial-gradient(ellipse at bottom, rgba(65, 23, 23, 0.1), transparent), radial-gradient(ellipse at top, rgba(141, 49, 49, 0.3), transparent);
}

.button {
    display: flex;
    padding: 16px 18px;
    align-items: flex-start;
    gap: 12px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.05);
    width: min-content;
    position: fixed;
    bottom: 30px; 
    left: 30px;
    z-index: 10;
}

.option {
    color: white;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    width: max-content;
}

.splash {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 180px;
    padding-bottom: 30px;
    gap: 12px;
    align-self: stretch;
}

.title {
    text-align: left;
    font-size: 42px;
    font-weight: 400;
    font-family: "EB Garamond", serif;
}

.subtitle {
    text-align: left;
    font-size: 18px;
    font-weight: 100;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    padding: 0 120px;
}

.line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin: 120px;
}

.project-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 180px;
    opacity: 75%;
}

.overview-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 420px;
}

.description-block {
    display: flex;
    max-width: 420px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.description-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.description-subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    display: flex;
}

.block {
    display: flex;
    padding: 0 240px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.block-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "EB Garamond", serif;
}

.block-subtitle {
    align-self: stretch;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photo-row {
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.box {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    position: relative;
    gap: 12px;
}

.photo-row img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 6px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 6px;
}

.photo-description {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.arrows {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.arrow-left {
    color: rgba(255, 255, 255, 0.20);
    cursor: pointer;
}

.arrow-right {
    color: rgba(255, 255, 255, 0.50);
    cursor: pointer;
}


.opaque {
    color: rgba(255,255,255,0.75);
}

.photo-caption {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.final-title {
    font-size: 24px;
    font-weight: 700;
}


a {
    text-decoration: none;
}
}

.photo-with-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
    text-align: center;
}
