@import url('https://fonts.googleapis.com/css2?family=DM+Sans');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@media screen and (max-width: 800px) {


    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #F7F7F7;
        font-family: 'DM Sans', sans-serif;
        font-weight: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 1;
    }

    .wrapper {
        display: flex;
        padding: 60px 60px;
        padding-bottom: 120px;
        flex-direction: column;
        align-items: center;
        color: black;
    }

    .button {
        display: flex;
        padding: 16px 18px;
        align-items: flex-start;
        gap: 12px;
        border-radius: 100px;
        background: rgba(247, 247, 247, 0.9);
        box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.05);
        width: min-content;
        position: fixed;
        bottom: 30px; 
        z-index: 10;
        border: solid 1px black;
    }
    

    .option {
        color: black;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        width: max-content;
    }

    .splash {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 0 60px;
        gap: 12px;
        align-self: stretch;
    }

    .title {
        text-align: left;
        font-size: 42px;
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
    }

    .subtitle {
        text-align: left;
        font-size: 18px;
        font-weight: 100;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        align-self: stretch;
        padding: 0 60px;
    }

    .line {
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.5);
        margin: 120px;
    }

    .project-overview {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        gap: 120px;
        opacity: 75%;
    }

    .overview-column {
        display: flex;
        flex-direction: row;
        gap: 30px;
        max-width: 420px;
    }

    .description-block {
        display: flex;
        max-width: 420px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .description-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
    }

    .description-subtitle {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
    }

    .block {
        display: flex;
        padding: 0 6vw;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        align-self: stretch;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
    }

    .block-title {
        font-size: 36px;
        font-style: normal;
        line-height: normal;
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
    }

    .block-subtitle {
        align-self: stretch;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .photo-row {
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }

    .bubbles {
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12vw;
    }

    .box {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: 100%;
        position: relative;
        gap: 12px;
    }

    .photo-row img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio and cover container */
        border-radius: 6px;
        transition: transform 0.3s ease;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio and cover container */
    }

    .photo-description {
        color: rgba(0, 0, 0, 0.50);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .final-designs-wrapper {
        border-radius: 12px;
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: row;
        gap: 120px;
        height: 600px;
        align-items: center;
        align-self: stretch;
        overflow: hidden;
    }

    .final-designs-wrapper-column {
        border-radius: 12px;
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        height: 600px;
        gap: 18px;
        align-items: left;
        justify-content: center;
        align-self: stretch;
    }

    .final-designs-text {
        flex-shrink: 1;
        font-size: 18px;
        text-align: left;
    }

    .opaque {
        opacity: 75%;
    }

    .photo-caption {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .final-title {
        font-size: 24px;
    }

    .bubble {
        display: flex;
        flex-basis: auto;
        flex-shrink: 1;
        flex-direction: column;
        justify-content: center;
        gap: 9px;
        object-fit: cover;
        width: 180px;
        height: 180px;
        border: solid 1px black;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
        padding: 10px;
    }

    .bold {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .how-might-we {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: 160px 0;
        margin: 240px 0;
    }

    .insights {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .insight {
        display: flex;
        align-items: center;
        gap: 6px;
        align-self: stretch;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: left;
    }

    .initial-title {
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }

    .space {
        padding: 60px 0;
    }

    .designs-header {
        font-size: 24px;
        font-style: normal;
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
        line-height: normal;
    }

    .designs-body {
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 75%;
    }


    .design {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        align-self: stretch;
    }

    .search {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-self: stretch;
    }

    .design-explanation {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .footing {
        display: none;
    }
}

@media screen and (min-width: 801px) {


    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #F7F7F7;
        font-family: 'DM Sans', sans-serif;
    }

    .wrapper {
        display: flex;
        padding: 60px 0px;
        flex-direction: column;
        align-items: center;
        color: black;
    }

    .button {
        display: flex;
        gap: 12px;
        padding: 24px 24px;
    }

    .option {
        color: black;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        width: max-content;
    }

    .splash {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 0 180px;
        gap: 12px;
        align-self: stretch;
    }

    .title {
        text-align: left;
        font-size: 42px;
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
    }

    .subtitle {
        text-align: left;
        font-size: 18px;
        font-weight: 100;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        align-self: stretch;
        padding: 0 180px;
    }

    .line {
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.5);
        margin: 120px;
    }

    .project-overview {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
        gap: 120px;
        opacity: 75%;
    }

    .overview-column {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 420px;
    }

    .description-block {
        display: flex;
        max-width: 420px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .description-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
    }

    .description-subtitle {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
    }

    .block {
        display: flex;
        padding: 0 240px;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        align-self: stretch;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
    }

    .block-title {
        font-size: 36px;
        font-style: normal;
        line-height: normal;
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
    }

    .block-subtitle {
        align-self: stretch;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .photo-row {
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }

    .bubbles {
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        gap: 54px;  
        flex-wrap: wrap;
    }

    .box {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: 100%;
        position: relative;
        gap: 12px;
    }

    .box:hover img {
        transform: scale(1.2);
        z-index: 2;
    }

    .photo-row img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio and cover container */
        border-radius: 6px;
        transition: transform 0.3s ease;
        justify-content: center;
        align-items: center;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio and cover container */
    }

    .photo-description {
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .arrows {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
    }

    .arrow-left {
        color: rgba(255, 255, 255, 0.20);
        cursor: pointer;
    }

    .arrow-right {
        color: rgba(255, 255, 255, 0.50);
        cursor: pointer;
    }

    .final-designs-wrapper {
        border-radius: 12px;
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 60px;
        padding-bottom: 60px;
        border: solid 1px black;
        display: flex;
        flex-direction: row;
        gap: 120px;
        height: 720px;
        align-items: center;
        align-self: stretch;
        overflow: hidden;
    }

    .final-designs-wrapper-column {
        border-radius: 12px;
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: rgb(255,255,255,0.1);
        display: flex;
        border: solid 1px black;
        flex-direction: column;
        height: 720px;
        gap: 18px;
        align-items: left;
        justify-content: center;
        align-self: stretch;
    }

    .final-designs-text {
        /* flex-grow: 1; */
        flex-shrink: 1;
        font-size: 18px;
        text-align: left;
    }

    .photo-caption {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .final-title {
        font-size: 24px;
    }

    .bubble {
        display: flex;
        flex-basis: auto;
        flex-shrink: 1;
        flex-direction: column;
        justify-content: center;
        gap: 9px;
        object-fit: cover;
        width: 120px;
        height: 120px;
        border: solid 1px black;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
        padding: 10px;
    }

    .bold {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .how-might-we {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        background: radial-gradient(17.86% 50% at 50% 50%, rgba(255, 88, 88, 0.5) 0%, rgba(0, 0, 0, 0.00) 100%);
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: 120px 0;
        margin: 240px 0;
    }

    .fancy {
        font-size: 48px;
        font-style: normal;
        line-height: normal;
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
    }

    .insights {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .insight {
        display: flex;
        align-items: center;
        gap: 6px;
        align-self: stretch;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 120px;
        align-items: center;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: left;
    }

    .initial-title {
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }

    .space {
        padding: 60px 0;
    }

    .designs-header {
        font-size: 24px;
        font-style: normal;
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
        line-height: normal;
    }

    .designs-body {
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 75%;
    }


    .design {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 240px;
        align-self: stretch;
    }

    .search {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-self: stretch;
    }

    .design-explanation {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 700px;
    }

    .opaque {
        color: rgba(0,0,0,0.75);
    }
    
    .footing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 120px;
        font-family: "DM Sans", sans-serif;
        font-size: 18px;
        background-color: white;
    }
    
    .footing-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
    
    .footing-left-text {
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
        font-size: 30px;
    }
    
    
    .footing-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 10vw;
    }
    
    .footing-right-object {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
