@media screen and (max-width: 800px) {


    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #F7F7F7;
        font-family: 'Inter Tight', sans-serif;
        font-weight: 300;
        flex-shrink: 1;
    }

    .photo-column {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 60px;
    }

    .footing {
        display: none;
    }

    .wrapper {
        display: flex;
        padding-top: 60px;
        padding-bottom: 120px;
        gap: 120px;
        flex-direction: column;
        align-items: center;
        color: rgba(0,0,0,1);
        flex-shrink: 1;
    }

    .button {
        display: flex;
        padding: 16px 18px;
        align-items: flex-start;
        gap: 12px;
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.9);
        width: min-content;
        position: fixed;
        bottom: 30px; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        border: solid 1px black;
    }
    

    .option {
        color: rgba(0,0,0,1);
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        width: max-content;
    }

    .splash {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-bottom: 30px;
        gap: 12px;
        align-self: stretch;
    }

    .title {
        text-align: left;
        font-size: 42px;
    }

    .subtitle {
        text-align: left;
        font-size: 18px;
    }

    .project-overview {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        gap: 180px;
        opacity: 75%;
    }

    .overview-column {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .description-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        padding: 0 60px;
    }

    .block-color {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        background-color: #FFEDED;
        padding: 60px 60px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
    }

    .body {
        align-self: stretch;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
    }

    .photo-row {
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        flex-direction: column;
    }

    .box {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: 100%;
        position: relative;
        gap: 12px;
    }

    .box-shadow {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: 100%;
        position: relative;
        gap: 12px;
    }

    .box-shadow img {
        border-radius: 6px;
        border: solid 0.5px rgba(0,0,0,0.25);
    }

    .photo-row img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 3px;
    }

    .photo-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 6px;
        border: solid 0.5px rgba(0,0,0,0.25);
    }

    .photo-description {
        color: rgba(0, 0, 0, 0.50);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
    }

    .opaque {
        color: rgba(0,0,0,0.75);
    }

    .photo-caption {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .final-title {
        font-size: 24px;
    }

    .text {
        font-size: 12px;
        justify-content: flex-start;
        gap: 12px;
    }

    .how-might-we {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        width: 100%;
        background: -webkit-linear-gradient(left, #F99E9E, rgba(255,0,0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: auto;
        text-align: center;
        font-size: 36px;
        padding: 120px 0px;
    }

    .fancy {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        background: -webkit-linear-gradient(left, #F99E9E, rgba(255,0,0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .insights {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .insight {
        display: flex;
        align-items: center;
        gap: 6px;
        align-self: stretch;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        color: rgba(0,0,0,1);
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }

    .flexi-row {
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: left;
    }

    .initial-title {
        font-size: 24px;
    }

    .space {
        padding: 60px 0;
    }

    .designs-header {
        font-size: 24px;
    }

    .designs-body {
        text-align: left;
        font-size: 18px;
    }


    .design {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 60px;
        align-self: stretch;
    }

    .design-explanation {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .number {
        font-weight: 700;
        font-size: 60px;
        color: rgba(255,0,0,0.1);
        width: 60px;
    }

    .number-bulletin {
        font-weight: 700;
        font-size: 60px;
        color: rgba(0,75,141,0.1);
        width: 60px;
    }

    .number-roar {
        font-weight: 700;
        font-size: 60px;
        color: rgba(78, 182, 234, 0.25);
        width: 60px;
    }

    .footing {
        display: none;
    }
}

@media screen and (min-width: 801px) {


    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #F7F7F7;
        font-family: 'Inter Tight', sans-serif;
        font-weight: 300;
    }

    .wrapper {
        display: flex;
        padding: 60px 0px;
        gap: 120px;
        flex-direction: column;
        align-items: center;
        color: rgba(0,0,0,1);
    }

    .button {
        display: flex;
        gap: 12px;
        padding: 24px 24px;
    }

    .option {
        color: black;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        width: max-content;
    }

    .splash {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 12px;
        align-self: stretch;
    }

    .title {
        text-align: left;
        font-size: 54px;
    }

    .subtitle {
        text-align: left;
        font-size: 18px;
    }

    .project {
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-self: stretch;
    }

    .project-overview {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        gap: 60px;
        opacity: 75%;
    }
    
    .overview-column {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        gap: 120px;
    }
    
    .description-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        align-self: stretch;
        padding: 0 180px;
    }

    .block-color {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        align-self: stretch;
        background-color: #FFEDED;
        padding: 60px 180px;
    }

    .block-color-blue {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        align-self: stretch;
        background-color: rgba(176,213,239,0.25);
        padding: 60px 60px;
        border-radius: 12px;
        border: 0.5px solid rgba(0,0,0,0.5);
    }

    .block-color-red {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        align-self: stretch;
        background-color: #FFEDED;
        padding: 60px 60px;
        border-radius: 12px;
        border: 0.5px solid rgba(0,0,0,0.5);
    }


    .block-color-pink {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        align-self: stretch;
        background-color: rgba(250,163,184,0.25);
        padding: 60px 60px;
        border-radius: 12px;
        border: 0.5px solid rgba(0,0,0,0.5);
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .body {
        align-self: stretch;
        font-size: 18px;
    }

    .photo-row {
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 60px;
        align-items: center;
    }

    .photo-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 60px;
    }

    .box {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: 100%;
        position: relative;
        gap: 12px;
    }

    .box:hover img {
        transform: scale(1.2);
        z-index: 2;
    }

    .photo-row img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 3px;
        transition: transform 0.3s ease;
        justify-content: center;
        align-items: center;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
        border: solid 0.5px rgba(0,0,0,0.25);
    }

    .photo-description {
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-size: 18px;
    }

    .photo-caption {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .final-title {
        font-size: 24px;
    }

    .bold {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 12px;
    }

    .how-might-we {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        background: -webkit-linear-gradient(left, #F99E9E, rgba(255,0,0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 36px;
        padding: 240px 0px;
    }

    .fancy {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        background: -webkit-linear-gradient(left, #F99E9E, rgba(255,0,0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 36px;
    }

    .insights {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .insight {
        display: flex;
        align-items: center;
        gap: 6px;
        align-self: stretch;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        color: rgba(0,0,1);
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: left;
    }

    .initial-title {
        font-size: 24px;
    }

    .space {
        padding: 60px 0;
    }

    .designs-header {
        font-size: 24px;
    }

    .designs-body {
        text-align: left;
        font-size: 18px;
        opacity: 75%;
    }


    .design {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 60px;
        align-self: stretch;
    }

    .design-explanation {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .opaque {
        color: rgba(0,0,0,0.5);
    }
    
    .number {
        font-weight: 700;
        font-size: 120px;
        color: rgba(255,0,0,0.1);
        min-width: 300px;
    }

    .number-roar {
        font-weight: 700;
        font-size: 120px;
        color: rgba(78, 182, 234, 0.25);
        min-width: 300px;
    }

    .number-bulletin {
        font-weight: 700;
        font-size: 120px;
        color: rgba(0,75,141,0.1);
        min-width: 200px;
    }

    .number-roar {
        font-weight: 700;
        font-size: 120px;
        color: rgba(78, 182, 234, 0.25);
        min-width: 200px;
    }
    
    .footing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 120px;
        font-size: 18px;
        background-color: white;
    }
    
    .footing-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
    
    .footing-left-text {
        font-size: 30px;
    }
    
    
    .footing-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 10vw;
    }
    
    .footing-right-object {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


#normal {
    display: none;
}

.box2 {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    position: relative;
    gap: 12px;
}

.box-shadow {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    position: relative;
    gap: 12px;
}

.box-shadow img {
    border-radius: 6px;
    border: solid 0.5px rgba(0,0,0,0.25);
}

.container {
    flex-shrink: 1;
    display: flex;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
  }
  
  #before-after-slider {
    width:100%;
    position:relative;
    overflow:hidden;
  }
  
  #after-image {
    display:flex;
  }
  
  #before-image {
    position:absolute;
    height:100%;
    width:50%;
    overflow:hidden;
    z-index:2;
  }
  
  #resizer {
    position:absolute;
    display:flex;
    align-items:center;
    z-index:5;
    top:0;
    left:50%;
    height:100%;
    width:6px;
    background:rgba(0,0,0,0.5);
    -ms-touch-action: pan-y;
      touch-action: pan-y;
    cursor: pointer;
  }
  
  #resizer:after {
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    width:10px;
    height:10px;
    font-size: 8px;
    color: black;
    cursor: pointer;
  }


.flexi-row {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

}

.l-row {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

.box-static {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    position: relative;
    gap: 12px;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
    font-size: 18px;
}

.description {
    color: rgba(0,0,0,0.75);
    font-size: 12px;
}

b {
    font-weight: 500;
}

.photo-with-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
    text-align: center;
}

.fancy {
    font-size: 42px;
    background: -webkit-linear-gradient(left, #F99E9E, rgba(255,0,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.photo-row-no-shadow {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

.photo-row-no-shadow img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 3px;
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;
}

.how-might-we-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
    background: -webkit-linear-gradient(left, #1571BE, #4599DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: auto;
    text-align: center;
    font-size: 36px;
    padding: 240px 0px;
}

.about-header {
    font-size: 42px;
}

.photo-row-center {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

.photo-row-center img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 3px;
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;
}
