@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

button {
    border-radius: 100px;
    background-color: white;
    border-width: 1px;
    border-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 10px;

}
.container {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-rules {
    width: 800px;
    text-align: center;
}
.hidden {
    color: 0;
}

.color {
    border-radius: 100;
    width: fit-content;
}

.guess {
    border-radius: 100;
    width: fit-content;
}

.play {
    width: fit-content;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}