/*FOR ALL PAGES*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

.big-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;

}
.top-buttons {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 36x;
    gap: 12px;
}

.bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
  }

/*HOMEPAGE COMPONENTS*/

.intro{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    width: 100%;
}

.intro-header {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.intro-subheader {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.homepage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*SECTION PAGES*/
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 120px;
    padding-right: 120px;
}

.project-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 36px;
}

.page-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 12px;
}

.page-subheader {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.overview {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 54px;
}

.overview-row {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding-bottom: 12px;
}

.overview-category {
    display: flex;
    font-weight: bold;
    align-items: stretch;
    width: 120px;
    font-size: 18px;
}

.overview-info {
    display: flex;
    font-size: 18px;
}

.project-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 54px;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.section {
    margin-bottom: 24px;
}

.body {
    padding-top: 12px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.bodyy {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.padding {
    padding-top: 12px;
}

.break {
    margin-top: 84px;
    margin-bottom: 84px;
    width: 1080px;
    height: 1px;
    background: rgba(0, 0, 0, 0.50);
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 54px;
    font-size: 24px;
}

.section-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.finding {
    margin-top: 36px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
}

.finding-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 840px;
}

.quote {
    font-family: 'Montserrat', sans-serif;
    padding-top: 12px;
    padding-left: 12px;
    font-size: 16px;
    font-style: italic;
}
