/*FOR ALL PAGES*/
.top-buttons {
    font-family: Helvetica;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 20px;
    margin-top: 20px;
    gap: 20px;
}
.small-br {
    display: block;
    margin-bottom: 2px;
}
.heading{
    font-family: Helvetica;
    text-align: center;
}
.name {
    font-size: 50px;
    font-weight: bold;
}
.title {
    font-size: 15px;
    font-style: italic;
}
.space {
    padding-bottom: 50px;
}
.bottom {
    display: flex;
    background-color: black;
    color: white;
    position: bottom;
    height: 100px;
    width: 100%;
    bottom: 0px;
    font-family: Helvetica;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
    font-family: Helvetica;
  }

/*HOMEPAGE COMPONENTS*/
.intro {
    margin-left: 40px;
    margin-right: 40px;
    font-family: Helvetica;
    color:black;
    font-size: 20px;
    max-width: 100%;
}
.photo-grid {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.photo:hover {
    filter: brightness(50%);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.photo-description {
    color: black;
    visibility: hidden;
    /*-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;*/
    align-items: center;
}
  .photo:hover .photo-description {
    visibility: visible;
    opacity: 1;
    align-items: center;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

img {
    border-radius: 1px;
    height: 400px;
    width: 400px;
}


/*SECTION PAGES*/
.section-heading {
    color: black;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
}
.section-body {
    font-family: Helvetica;
    font-size: 15px;
    margin-left: 40px;
    margin-right: 40px;
}
.centered-photo {
    display: flex;
    align-content: center;
    justify-content: center;
}
.page-photo {
    display: flex;
    align-content: center;
    justify-content: center;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}
.photo-description {
    padding-top: 15px;
    font-style: italic;
    font-family: Helvetica;
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.photo-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.float{
	position:fixed;
    display: flex;
    font-family: Helvetica;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    bottom:40px;
    right:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#FFF;
    border-radius:5px;
    text-align:center;
}


