@import url('https://fonts.googleapis.com/css2?family=DM+Sans');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@media screen and (max-width: 800px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #F7F7F7;
        color: black;
        font-family: 'DM Sans', sans-serif;
        flex-shrink: 1;
        justify-content: center;
    }

    .footing {
        display: none;
    }

    .designs-header {
        font-size: 24px;
        font-family: "League Spartan", sans-serif;
        line-height: normal;
    }

    .designs-body {
        text-align: center;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        opacity: 75%;
    }

    .search {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-self: stretch;
    }

    .opaque {
        opacity: 75%;
    }

    .bold {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .text {
        font-size: 12px;
        font-style: normal;
        line-height: normal;
    }

    .how-might-we {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: 120px 0;
        margin: 240px 0;
    }

    .bubbles {
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 60px;  
    }

    .bubble {
        display: flex;
        flex-basis: auto;
        flex-shrink: 1;
        flex-direction: column;
        justify-content: center;
        gap: 9px;
        object-fit: cover;
        width: 180px;
        height: 180px;
        border: solid 1px black;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
        padding: 10px;
    }

    .photo-column {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .photo-with-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        align-items: center;
        text-align: center;
    }
    
    .wrapper {
        display: flex;
        padding: 60px 60px;
        padding-bottom: 120px;
        flex-direction: column;
        align-items: center;
    }
    
    .button {
        display: flex;
        padding: 16px 18px;
        align-items: flex-start;
        gap: 12px;
        border-radius: 100px;
        background: rgba(247, 247, 247, 0.9);
        width: min-content;
        position: fixed;
        bottom: 30px; 
        z-index: 10;
        border: solid 1px black;
    }
    
    .option {
        color: black;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        width: max-content;
    }
    
    .splash {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-bottom: 30px;
        gap: 12px;
        align-self: stretch;
    }
    
    .title {
        text-align: left;
        font-size: 42px;
        font-weight: 400;
        font-family: "League Spartan", sans-serif;
    }
    
    .subtitle {
        text-align: left;
        font-size: 18px;
    }
    
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        align-self: stretch;
    }
    
    .line {
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.5);
        margin: 120px;
    }
    
    .project-overview {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        gap: 120px;
        opacity: 75%;
    }
    
    .overview-column {
        display: flex;
        flex-direction: row;
        gap: 30px;
        max-width: 420px;
    }
    
    .description-block {
        display: flex;
        max-width: 420px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding: 0 10px;
    }
    
    .description-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
    }
    
    .description-subtitle {
        font-size: 18px;
        font-style: normal;
    }

    .number {
        font-family: "League Spartan", sans-serif;
        font-weight: 700;
        font-size: 60px;
        color: rgba(78, 182, 234, 0.25);
        min-width: 60px;
    }
    
    .block {
        display: flex;
        padding: 0 6vw;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        align-self: stretch;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
    }
    
    .block-title {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        font-family: "League Spartan", sans-serif;
    }
    
    .block-subtitle {
        align-self: stretch;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
    }
    
    .photo-row {
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        align-items: center;
        flex-direction: column;
    }
    
    .box {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: 100%;
        position: relative;
        gap: 12px;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .photo-row img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
        transition: transform 0.3s ease;
    }

    .space {
        padding: 60px 0;
    }

    .box:hover img {
        transform: scale(1.2);
        z-index: 2;
    }
    
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    iframe {
        width: 100%;
        height: calc(100vw * 9 / 16);
        object-fit: cover;
    }
    
    
    .photo-description {
        color: rgba(0, 0, 0, 0.50);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
}

@media screen and (min-width: 801px) {

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: black;
    background-color: #F7F7F7;
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bubbles {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 120px;  
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    padding: 60px 0px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.button {
    display: flex;
    gap: 12px;
    padding: 24px 24px;
    background-color: #F7F7F7;
}

.option {
    color: black;
    font-family: 'DM sans';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    width: max-content;
}

.space {
    padding: 60px 0;
}

.splash {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.designs-header {
    font-size: 24px;
    font-style: normal;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    line-height: normal;
}

.designs-body {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 75%;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: stretch;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 180px;
    gap: 12px;
    align-self: stretch;
}

.bold {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    text-align: left;
    font-size: 42px;
    font-weight: 400;
    font-family: "League Spartan", sans-serif;
}

.subtitle {
    text-align: left;
    font-size: 18px;
    font-weight: 100;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    padding: 0 180px;
}

.line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    margin: 120px;
}

.project-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 180px;
    opacity: 75%;
}

.overview-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 420px;
}

.description-block {
    display: flex;
    max-width: 420px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.description-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.description-subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.block {
    display: flex;
    padding: 0 240px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.block-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    font-family: "League Spartan", sans-serif;
}

.how-might-we {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: radial-gradient(18% 50% at 50% 50%, rgba(78, 182, 234, 0.5) 0%, #F7F7F7);
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 160px 0;
    margin: 240px 0;
}

.block-subtitle {
    align-self: stretch;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photo-row {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.box {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    position: relative;
    gap: 12px;
}

.photo-with-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
    text-align: center;
}

.photo-row img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.box:hover img {
    transform: scale(1.2);
    z-index: 2;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

iframe {
    width: 100%;
    height: calc(100vw * 9 / 16);
    object-fit: cover;
}

.photo-description {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.number {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 120px;
    color: rgba(78, 182, 234, 0.25);
    min-width: 200px;
}

.opaque {
    opacity: 75%;
}

.bubble {
    display: flex;
    flex-basis: auto;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
    object-fit: cover;
    width: 120px;
    height: 120px;
    border: solid 1px black;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    padding: 10px;
}

.photo-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.photo-caption {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.final-title {
    font-size: 24px;
}


a {
    text-decoration: none;
    color: black;
}

.row {
    flex-direction: row;
    gap: 240px;
    justify-content: center;
    align-items: center;
}

.footing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 120px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    background-color: white;
}

.footing-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.footing-left-text {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 30px;
}


.footing-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 10vw;
}

.footing-right-object {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

}

.row {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
