html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #161616;
  color: #F9F9F9;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 300;
  flex-shrink: 1;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  flex: 1 1 0;
  width: 100%;
  height: 100%;
}

/* text styles */
.twelve { font-size: 12px; }
.eighteen { font-size: 18px; }
.twenty-four { font-size: 24px; }
.opaque { opacity: 50%; }

.nav-wrapper {
  display: flex;
  flex-direction: row;
  gap: 18px;
  background-color: rgba(255,255,255,0.05);
  padding: 12px 18px;
  margin-bottom: 42px;
  border-bottom: 1px solid rgba(255,255,255,0.25);
  position: sticky;
  top: 0; 
  z-index: 10;
}

.nav-item.active .nav-link {
  color: white;
}

.project-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.homepage-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  gap: var(--homepage-grid-gap);
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 var(--homepage-margin-size);
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* PROJECT PAGES */

.project-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.project-intro-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0px var(--page-margin-size);
}

.project-page-heading {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.project-overview-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
}

.project-overview-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.project-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 48px;
  background-color: rgba(0,0,0,0.5);
  border-top: #909090 1px solid;
  border-bottom: #909090 1px solid;
}

.project-section-text {
  font-size: 30px;
  text-align: center;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0px var(--page-margin-size);
}

.images {
  display: flex;
  align-items: top;
  gap: 30px;
}

.image-with-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.image-with-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 var(--page-margin-size);
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.25);
  padding: 12px;
  border: solid 1px rgba(255,255,255,0.25);
  border-radius: 3px;
  gap: 12px;
}

@media screen and (min-width: 1140px) and (max-width: 1899px) {

  :root {
    --homepage-margin-size: 300px; 
    --page-margin-size: 180px;
    --homepage-grid-gap: 60px;
  }

  .header-wrapper {
    width: 1020px;
  }

  .header {
    font-weight: 300;
    font-size: 42px;
    background: var(--gradient, linear-gradient(90deg, #F7BCBC 0%, #AFD2EB 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .project-card-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 300px;
  }

  .project-card {
    gap: 12px;
  }

  .project-photo {
    width: 300px;
    height: 360px;
  }
  
}

@media screen and (min-width: 910px) and (max-width: 1139px) {
  :root {
    --homepage-margin-size: 240px; 
    --page-margin-size: 120px;
    --homepage-grid-gap: 42px;
  }

  .header-wrapper {
    width: 862px;
  }

  .header {
    font-weight: 300;
    font-size: 42px;
    background: var(--gradient, linear-gradient(90deg, #F7BCBC 0%, #AFD2EB 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .project-card-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 300px;
  }

  .project-card {
    gap: 12px;
  }

  .project-photo {
    height: 360px;
    width: 410px;
  }

}

@media screen and (min-width: 451px) and (max-width: 909px) {

  :root {
    --homepage-margin-size: 60px; 
    --page-margin-size: 60px;
    --homepage-grid-gap: 42px;
  }

  .header-wrapper {
    width: 100%;
  }

  .header {
    font-weight: 300;
    font-size: 42px;
    background: var(--gradient, linear-gradient(90deg, #F7BCBC 0%, #AFD2EB 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .project-card-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  .project-card {
    gap: 12px;
    width: 100%;
  }

  .project-photo {
    background-color: gray;
    height: 360px;
  }

  .images {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
  }
  
}

@media screen and (max-width: 450px) {

  :root {
    --homepage-margin-size: 60px; 
  }

  .homepage-grid {
    gap: 42px;
  }

  .header-wrapper {
    width: 100%;
  }

  .header {
    font-weight: 300;
    font-size: 42px;
    background: var(--gradient, linear-gradient(90deg, #F7BCBC 0%, #AFD2EB 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .project-card-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  .project-card {
    gap: 12px;
    width: 100%;
  }

  .project-photo {
    background-color: gray;
    height: 360px;
  }

  .images {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
  }

}